   <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
       <a class="navbar-brand mylogo" href="#"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-home"></i> Home</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-edit"></i> Answer</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-bell"></i> Notifications</a>
             </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 col-md-5">
             <input class="myform-control mr-sm-2" type="search" placeholder="Search Quora" aria-label="Search">
             <button class="btn btn-light"><i class="fa fa-search"></i></button>
          </form>
          <ul class="navbar-nav ml-auto">
             <li>
                <a href="#" id="add-question" class="btn mybtn btn-success">Add Question</a>
             </li>
             <li class="avatar-profile d-none d-sm-block ">
                <a href="#" ><img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" class="img-responsive" /></a>
             </li>
          </ul>
       </div>
    </div>
 </nav>